name: Build Project
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: code
        uses: actions/checkout@v4

      - name: maven build
        run: mvn clean install
