name: Build Project

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-22.04
    steps:
      - name: code
        uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '17'

      - uses: stCarolas/setup-maven@v5
        with:
          maven-version: 3.9.12

      - name: maven build
        run: mvn clean install
